.title-text {
  font-weight: bolder !important;
}

.subtitle-text {
  font-weight: 600 !important;
}

.nav-bar {
  background-color: white !important;
}

.nav-bar-link {
  color: black;
}

.nav-bar-link:hover {
  font-style: underline !important;
  font-weight: bolder !important;
  color: yellowgreen !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
}
