.graph-page-page {
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}

.graph-page-container {
  height: 90vh;
  width: 100%;
  /* padding-top: 16px; */
  margin-top: 8px !important;
  background-color: white;
}

.graph-page-graph {
  height: 85%;
  width: 98%;
  /* padding-top: 16px; */
}

