@media only screen and (min-width: 600px) {
  .question {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
  }

  .container {
    /* height: 100%; */
    /* flex: auto; */
    display: flex;
    flex-direction: row;
  }

  .answer {
    flex-direction: row;
    flex: auto;
    position: fixed;
    margin-bottom: 10px;

    /* background-color: red; */
  }

  .answer-column {
    /* flex-grow: 1; */
    /* overflow: auto; */
    overflow-y: auto;
    min-height: 100%;
    /* position: absolute; */
    /* margin-top: 60px; */
    width: "50%";
    padding-bottom: 80px;
    flex: 50%;
  }

  .question-column {
    /* position: fixed; */
    /* flex-grow: 1; */
    /* width: "50%"; */
    flex: 50%;
  }
}
/* small screen */
@media only screen and (max-width: 600px) {
  .question {
    position: absolute;
    /* top: 3%; */
    top: 17.5%;
    transform: translateY(-70%);
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 4%;
    font-size: x-large !important;
  }

  .answer {
    flex-direction: column;
    flex: auto;
    margin-bottom: 10px;
    position: fixed;
    /* background-color: red; */
  }

  .question-column {
    /* position: fixed; */
    /* flex-grow: 1; */
    /* width: "50%"; */
    flex: 100%;
    height: 30%;
  }
  .answer-column {
    /* flex-grow: 1; */
    /* overflow: auto; */
    overflow-y: auto;
    min-height: 100%;
    /* position: absolute; */
    /* margin-top: 60px; */
    width: "100%";
    flex: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
    /* padding: auto; */
    /* background-color: black; */
  }
}
