.results-page-page {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  /* padding-top: 10px; */
  /* padding: 2px; */
}

.results-page-container {
  /* background-color: #F2F2F2; */
  width: 100%;
  margin-top: 32px;
  /* /* padding-top: 36px; */

  /* margin-bottom: 10px; */
  /* position: absolute; */
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  /* 
  top: 50%;
  transform: translateY(-50%); */
}
.results-page-box {
  height: 100%;
  width: 100%;
  /* border-radius: 25px; */
  /* /* padding-top: 36px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* position: absolute; */
  display: flex;
  /* 
  top: 50%;
  transform: translateY(-50%); */
}

.results-page-section {
  background-color: white;
  border-radius: 25px;
  margin-left: 4px;
  margin-right: 4px;
}

.results-page-grade {
  color: green;
  font-weight: bold;
}

.results-page-criterion {
  font-weight: bold;
}

.results-page-city-name {
  font-weight: bold;
}

.results-page-borough-match-card {
  /* background-color: #5c6bc0; */
  background: linear-gradient(
    130deg,
    rgba(92, 107, 192, 1) 17%,
    rgba(141, 152, 242, 1) 100%
  );
}

.results-page-pie-chart {
  height: 140px;
}

.results-page-borough-title {
  margin-top: 20px !important;
  font-weight: bolder !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.results-page-borough-subtitle {
  font-weight: 400 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px !important;
  color: white;
  margin-bottom: 20px !important;
}

.results-page-graph-view-btn {
  background-color: rgba(140,158,255,1);
}

.results-page-graph-view-btn:hover {
  background-color: #5466C9 !important;
  font-weight: bolder !important;
}
